# Environments
/ideate-env/
/env/
/venv/
/.venv/
/lib/
/lib64/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
/build/
/dist/
*.egg-info/

# IDE and workspace files
/.idx/
/.vscode/
*.code-workspace

# Secrets - VERY IMPORTANT
.env
*.env
project-ideate-firebase-adminsdk-fbsvc-3c8a3b1fde.json

# Generated outputs & logs
/data/outputs/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Testing artifacts
.pytest_cache/
.coverage
/htmlcov/
